<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="dataname" value="ksoa_lscs"/>
    <add key="username" value="sa"/>
    <add key="password" value="123"/>
    <add key="servername" value="127.0.0.1"/>
    <add key="DF_path" value="\\DF_LocalResources\\DF_SOA.config"/>
    <add key="ErrorJson" value="d:\\ErrorJson"/>
    <add key="CardSql" value="select a.cardid,a.kkhcode,b.xingming as kkhname, d.kachhu as cardtype,a.fkrq,a.sxrq,a.jifen,b.shouji,
       a.leijck,a.ye,a.ljxfe,a.ljzke,a.ljzpjz,a.ljtuih,a.ljgongxian,a.ljjifen,a.touzxe,a.isdj,a.beactive,a.yuexiugbaohu 
      from ret_cuxiaoka a(nolock),ret_gukezl b(nolock),ret_kaflch d  (nolock) where  a.isdj = '否' 
      and a.kachid = d.kachid and a.sxrq >= convert(char(10), getdate(), 21)   and a.gukeid=b.gukeid
       and  a.kkhcode = @value and d.kachhu like '%储值卡%'" />
    <add key="haifu_version" value="V1.0"/>
  </appSettings>
  <system.diagnostics>
       <trace autoflush="false" indentsize="4">
           <listeners>
               <clear/>
              <!--清除默认监听器-->
              <!--添加自定义监听器 initializeData 就是初始化参数-->
               <add name="DF_Listener" type="DF_DAL.DF_Listener, DF_DAL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
                     initializeData="d:\Error.log" />
      </listeners>
    </trace>
       <switches>
            <!--这里可以设定监听级别,可以设置Error,Warning,Info或者留空-->
            <add name="DF_Listener" value="" />
    </switches>
  </system.diagnostics>
</configuration>
