<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <DF_DownLoad>
    <D_Table>
      <T_name>ret_kaflch</T_name>
      <T_sql>select kachid,kaleixid,xlh,dyzdm,koul,beactive from ret_kaflch(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table> 
    <D_Table>
      <T_name>ret_kaleixing</T_name>
      <T_sql>select kaleixid,kaleixmch,is_czk,askpass,is_dyguke,beactive,beizhu from ret_kaleixing(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table> 
    <D_Table>
      <T_name>HUOWEIZL</T_name>
      <T_sql>Select hw,hwbh,huowname,beactive,duifbsh from HUOWEIZL(nolock) where duifbsh=:fdbs</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>  
    <D_Table>
      <T_name>spkfk</T_name>
      <T_sql>Select spid,spbh,sptm,spmch,zjm,beactive,is_gdsj,is_gdzk,is_hysp,dw,shpchd,shpgg,huaxm,changym,tongym,shengccj,pizhwh,chuffl,jlgg,shj,lshj,zdshj,zgshj,huiytj,zdlshj,is_jifen,is_chuf from spkfk(nolock) where lastmodifytime>:down_time </T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>sphwph</T_name>
      <T_sql>Select a.spid,a.hw,a.pihao,a.baozhiqi,a.dangqzht,a.shl,a.sxrq,a.gebjj from sphwph a(nolock),huoweizl b(nolock) where a.hw=b.hw and b.duifbsh=:fdbs and a.lastmodifytime>:down_time</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>df_cxhz</T_name>
      <T_sql>Select djbh,rq,username,cx_id,s_date,e_date,s_time,e_time,beactive ,is_hy,is_jifen,v_week,v_day,sshje,beizhu,cx_fd from df_cxhz(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>df_cxmx</T_name>
      <T_sql>Select djbh,spid,tejia,H_shl,L_shl,zs_shl,hzflmch,koulv,zs_spid,group_id from df_cxmx(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>df_jifen</T_name>
      <T_sql>Select djbh,xgdjbh,rq,username,s_date,e_date,s_time,e_time,v_week,v_day,kachhu,kachid,cx_fd,beizhu,jfbs,jfbz from df_jifen(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>df_jifenmx</T_name>
      <T_sql>Select djbh,jfbs,spid,is_jifen  from df_jifenmx(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>bmdoc</T_name>
      <T_sql>select bmid,bmbh,bm,zjm,hw,beactive from BMDOC(nolock) where duifbsh=:fdbs</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>fdspgx</T_name>
      <T_sql>Select spid,lshj,is_hysp,huiytj,is_jifen from fdspgx(nolock) where fdbs=:fdbs and      lastmodifytime>:down_time</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
    <D_Table>
      <T_name>MUTEX_FZ</T_name>
      <T_sql>Select mutex_code,mutex_name from MUTEX_FZ</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>MUTEX_MX</T_name>
      <T_sql>Select mutex_code,spid,renwu_id from MUTEX_MX(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>ret_cuxiaoka</T_name>
      <T_sql>Select cardid,kaleixid,kkhcode,sptm,bianh,gukeid,kachid,askpass,mima,is_shfzh,fkrq,sxrq,isdj,koul,touzxe,leijck,ye,ljxfe,ljzke,ljzpjz,ljtuih,ljgongxian,ljjifen,jifen,yuexiugbaohu,modifytime,beactive from ret_cuxiaoka(nolock)  where isdj='否'and beactive='是' and modifytime>:down_time</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>ret_gukezl</T_name>
      <T_sql>Select gukeid,gukebh,xingming,zjm,idcard,Phone,shouji,address,zipno,csrq,sexid,is_huiy,beactive,isdj,fdbs,ljxfe,ljzke,ljgongxian,ljjifen,jifen,lastmodifytime from ret_gukezl(nolock) where isdj='否'and beactive='是' and lastmodifytime>:down_time </T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>ZHBUZL</T_name>
      <T_sql>Select jsfsid,jsfsbh,jsfsmch,beactive,iskzf,is_bwb,poskzf,is_czk,is_zhl from ZHBUZL(nolock)</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>ZHIYDOC</T_name>
      <T_sql>Select dzyid,dzycode,dzyname,zjm,issp,lgnname,is_sky,is_czy,beactive,zkscope,zyzw,kl,duifbsh from ZHIYDOC(nolock) where duifbsh=:fdbs</T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
   <D_Table>
      <T_name>POSZL</T_name>
      <T_sql>Select fdbs,sktid,sktname,fangabh,jzid,hw,koul,beactive from poszl(nolock) where fdbs=:fdbs </T_sql>
      <T_action>DownAction</T_action>
    </D_Table>
  </DF_DownLoad>
 <DF_UpLoad>
    <U_Table>
      <T_name>pos_mast</T_name>
      <T_sql>select lshh,rq,cardid,ontime,onhour,djbh,sktid,shky,shkyid,mx_count,je_count,fdbs,ysje,sshje,shkje,zhaol,moling,guard_sn,xiaoph,kaifysh,idcard,jifen from  pos_mast</T_sql>
      <T_action>UpAction</T_action>
    </U_Table>
    <U_Table>
      <T_name>pos_mxls</T_name>
      <T_sql>select lshh,plh,hw,bm,xshyid,xshy,pihao,spid,shl,lshj,ysje,dj,sshje,koul,shlv,je,she,chbje,chbdj,ml,xiaoph,sktid,fdbs,is_jifen from pos_mxls</T_sql>
      <T_action>UpAction</T_action>
    </U_Table>
   <U_Table>
     <T_name>pos_jels</T_name>
     <T_sql>Select lshh,jsfsid,plh,bsh,sshje,shkje,zhaol,moling,sktid,fdbs,CardID,CardType,TransTime from pos_jels</T_sql>
     <T_action>UpAction</T_action>
   </U_Table>
 </DF_UpLoad>
</configuration>